{% extends "base.html" %}
{% load voter %}

{% block body %}
<div class="container">


    {% if voted %}
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <h4>You voted for</h4>
            <img class="img-responsive" src="{{voted.letter.image.url}}" />
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'results' %}">View Current Results</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


    <div class="row">
        {% if matchup %}
        <div class="col-md-12 voting-booth">
            <form action="{% url 'cast-vote' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{matchup.id}}" name="matchup" />


            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <input id="{{matchup.id}}letter-a" class="hidden" type="radio" name="letter" value="{{matchup.letter_a.id}}" />
                    <label for="{{matchup.id}}letter-a" class="clickable">
                        <img class="img-responsive matchup-image" src="{{matchup.letter_a.image.url}}" />
                    </label>
                    <label for="{{matchup.id}}letter-a" class="checkmark clickable"></label>
                </div>

                <div class="col-md-5">
                    <input id="{{matchup.id}}letter-b" type="radio" class="hidden" name="letter" value="{{matchup.letter_b.id}}" />
                    <label for="{{matchup.id}}letter-b" class="clickable">
                        <img class="img-responsive matchup-image" src="{{matchup.letter_b.image.url}}" />
                    </label>
                    <label for="{{matchup.id}}letter-b" class="checkmark clickable"></label>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 text-center">
                    <input class="btn" type="submit" value="Submit" />
                </div>
            </div>

            </form>
        </div>
        {% else %}
        <div class="col-md-offset-3 col-md-6">

            <h3>There are no more matchups to vote on</h3>
            <a href="{% url 'results' %}">View Results</a>

        </div>

        {% endif %}
    </div>
    

</div>
{% endblock %}